body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1, .chuck, h2, .jokeContent {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b330b;
}

img {
    width: 150px;
    height: 150px;
}

.jokeContent {
    font-size: 20px;
    font-weight: bold;
    color: #3e3530;
    margin-top: 80px;
}
